<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

<body>
    <%- include('partials/navbar')%>

      <!-- Title Section -->
      <section class="signup-section ">
        <div class="container-fluid">
            <div class="title-container">
                <div class="about-us-container">
                    <h3> About Us!</h3>
                    <br><br>
                    <h5> Glad to learn that you want to know about us. </h5>
                    <br>
                    <p>We are a team of only one student who has been assigned to submit a static website 
                        using all the possible html elements with a constraint of making a total of 10 html pages. 
                        So, in order to complete the mark of 10 html pages, I am making this brief html page which 
                        will conclude this assignment.    
                    </p>
                    
                    <h5> Contact <strike>Us</strike> Me!</h5>
                    <span>(Please, I am lonely.😢)</span>
                    <br><br>
                    <p> Github Profile: <a href="https://github.com/ShubhamVishwakarma11">Link</a></p>
                    <p> Email: example@iiitn.ac.in</p>
                    <p>Contant Number: 9999999999</p>

                </div>
            </div>
        </div>
      </section>



      <%- include('partials/footer')%>


</body>
</html>